body {
    margin: 0;
    height: 100%;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(220,220,220,0.7);
    padding: 5%;
}

#mainc {
    width: 100%;
    height: 100%;
    display: block;
}


#speed {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 0;
    color: white;
    background-color: red;
}

#score_message {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    text-align: center;
}

#minimapc {
    width: 30vw;
    height: 15vw;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

#scoreboard {
    position: absolute;
    background-color: rgba(220,220,220,0.7);
}

table, th, td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

#menu_button {
    position: absolute;
    right: 0;
}