<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>RAGEN</title>
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<body>
    <div id="container">

        <div id="menu" style="display: none;">
        <div style="min-width: 21em; padding: 5px;">
            <div style="width: 100%; max-width: 95vw;">
                <h3 style="margin-top: 0px; display: inline-block;">Menu</h3>
                <input type="button" value="x" id="close" class="menu-arrows" style="float: right; display: none;">
            </div>
            <div>
                <label for="name">Driver Name:</label>
                <input type="text" id="name" maxlength="10" value="anon" style="width: 8em;">
                <input type="color" id="color" value="#00ffff">
            </div>
            <div style="margin-top: 1em; width: 100%;">
                <span>Controls:</span>
                <input type="button" value="Go on Fullscreen" id="fullscreen">
                <ul style="margin: 4px 0px 0px; font-size: 0.9em;">
                    <li><b>Keyboard:</b> WASD/Arrows, P to reset</li>
                    <li><b>Touch:</b> 1<sup>st</sup> tap acceleration, 2<sup>nd</sup> steering</li>
                </ul>
            </div>

            <div>
                <h4 style="display: inline-block;">Solo</h4>
                <input type="button" value=">" id="solo_b" class="menu-arrows">
            </div>
            <div id="solo_div" style="display: none;">
                <label for="menu_seed">Track:</label>
                <input type="text" id="menu_seed" maxlength="10" value="" style="width: 8em;">
                <input type="button" value="Random" id="menu_random">
                <input type="button" value="Go" id="menu_go">
            </div>
            
            <div>
                <h4 style="display: inline-block;">Multi</h4>
                <input type="button" value=">" id="multi_b" class="menu-arrows">
            </div>
            <div id="multi_div" style="display: none;">
                <label for="session_id">Session ID:</label>
                <input list="session_id" style="width: 4.8em; text-transform: uppercase;"
                       maxlength="4" name="session_id" value="<%= sessionid %>">
                <datalist id="session_id"></datalist>
                <input type="button" value="Random" id="session_random">
                <div class="tooltip">
                    <input type="button" value="Share" id="session_share">
                    <span class="tooltiptext">Copy session link</span> 
                </div>
                <input type="button" value="Join" id="session_go">
            </div>

            <div style="margin-top: 8px;">
                <a href="https://github.com/fp2103/ragen" style="margin-top: 8px;">github</a>
            </div>
        </div>
        </div>

        <div id="game_elements" style="display: none;">

            <!-- fullsize scoreboard -->
            <div id="scoreboard" class="scoreboard">
                <input type="button" value="hide" id="hide" style="width: 100%; display: none;">
                <div id="track" class="scoreboard-data">
                    <span>Track: </span>
                    <input type="text" name="seed" id="seed" maxlength="10">
                    <input type="button" value="Random" id="random">
                    <input type="button" value="Go" id="go">
                </div>
                <div id="session_info" class="scoreboard-data">
                    <div style="display: table-cell;">
                        <span>Session: </span><span id="session_span">N/A</span>
                        <span>- Time remaining: </span><span id="remaining_time">&infin;</span>
                    </div>
                    <input type="button" value="&equiv;" id="expand2" style="display: none;">
                </div>
                <div><table id="leaderboard">
                    <tr class="ultra-hide">
                        <td>Leaderboard</td>
                        <th style="min-width: 3em;">Name</th>
                        <th>Sector 1</th>
                        <th>Sector 2</th>
                        <th>Lap</th>
                    </tr>
                </table></div>
                <input type="button" value="&equiv;" id="expand" 
                       style="background-color: transparent; width: 100%; display: none;">
            </div>

            <!-- Minimal scoreboard -->
            <div id="scoreboard_min" style="display: none;">
                <p id="session_info_min" style="display: none;">
                    Session Time rem.: <span id="remaining_time_2">&infin;</span>
                </p>
                <div>
                    <p id="leaderboard_min" style="display: inline-block;">
                        <span id="player_min">-. anon</span> - <span id="time_min">-</span>
                    </p>
                    <input type="button" value="&equiv;" id="expand_min" style="display: inline-block;">
                </div>
            </div>

            <!-- Other elements -->
            <input id="menu_button" type="button" value="Menu">
            <p id="speed">0 km/h</p>
            <p id="score_message"></p>
            <canvas id="minimapc"></canvas>
            <canvas id="redalert"></canvas>
            <input type="button" value="reset" id="reset" style="display: block;">

            <!-- touch controls -->
            <canvas id="toucharea"></canvas>
            <div id="touch_accel" class="touch-cmd" style="display: none;">
                <div id="uarr">&#8679;</div><div id="darr">&#8681;</div>
            </div>
            <div id="touch_steering" class="touch-cmd" style="display: none;">
                <span id="larr">&#8678;</span><span id="rarr">&#8680;</span>
            </div>
        </div>

        <p id="centered_msg">Loading...</p>
        <p id="connexion_error"></p>
        <canvas id="mainc" style="display: none;"></canvas>
    </div>
</body>

<!-- fill red alert canvas -->
<script>
    const c = document.getElementById("redalert");
    const ctx = c.getContext("2d");

    // Create gradient
    const grdA = ctx.createLinearGradient(0,0,c.width,0);
    grdA.addColorStop(0,"rgba(255, 0, 0, 1)");
    grdA.addColorStop(0.05,"rgba(255, 0, 0, 0)");
    grdA.addColorStop(0.95,"rgba(255, 0, 0, 0)");
    grdA.addColorStop(1,"rgba(255, 0, 0, 1)");

    const grdB = ctx.createLinearGradient(0,0,0,c.height);
    grdB.addColorStop(0,"rgba(255, 0, 0, 1)");
    grdB.addColorStop(0.05,"rgba(255, 0, 0, 0)");
    grdB.addColorStop(0.95,"rgba(255, 0, 0, 0)");
    grdB.addColorStop(1,"rgba(255, 0, 0, 1)");

    // Fill canvas
    ctx.fillStyle = grdA;
    ctx.fillRect(0,0,c.width,c.height);
    ctx.globalCompositeOperation='lighter';
    ctx.fillStyle = grdB;
    ctx.fillRect(0,0,c.width,c.height);
</script>

<!-- Libraries -->
<script src="libs/seedrandom.min.js"></script>
<script src="libs/WebGL.js"></script>
<script src="libs/three.min.js"></script>
<script src="libs/stats.min.js"></script>
<script src="libs/ammo.js"></script>
<script src="libs/socket.io.js"></script>

<!-- Main script -->
<script src="ragen.js"></script>
</html>