<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>RAGEN</title>
</head>

<body>
    <div id="container">
        <div id="menu" style="display: none;">
            <h3>Menu</h3>
            <label for="name">Driver Name:</label>
            <input type="text" id="name" maxlength="10" value="anon">
            <input type="color" id="color" value="#00ffff">

            <h4>Solo</h4>
            <label for="menu_seed">Track:</label>
            <input type="text" id="menu_seed" maxlength="10" value="<%= circuitid %>">
            <input type="button" value="Random" id="menu_random">
            <input type="button" value="Go" id="menu_go">
            
            <h4>Multi</h4>
            <label for="session_id">Session ID:</label>
            <input list="session_id" style="width: 20%; text-transform: uppercase;"
                   maxlength="4" name="session_id" value="<%= sessionid %>">
            <datalist id="session_id"></datalist>
            <input type="button" value="Random" id="session_random">
            <input type="button" value="Join" id="session_go">
            <input type="button" value="Share" id="session_share">
        </div>

        <div id="game_elements" style="display: none;">
            <div id="scoreboard">
                <div id="track">
                    <span>Track: </span>
                    <input type="text" name="seed" id="seed" maxlength="10">
                    <input type="button" value="Random" id="random">
                    <input type="button" value="Go" id="go">
                </div>
                <div id="session_info">
                    <span>Session: </span><span id="session_span">N/A</span>
                    <span>- Time remaining: </span><span id="remaining_time">&infin;</span>
                </div>
                <table id="leaderboard" class="leaderboard">
                    <tr>
                        <td>Leaderboard</td>
                        <th>Name</th>
                        <th>Sector 1</th>
                        <th>Sector 2</th>
                        <th>Lap</th>
                    </tr>
                    <tr>
                        <td colspan="5"></td>
                    </tr>
                </table>
            </div>            
            <input id="menu_button" type="button" value="Menu">
            <p id="speed">0 km/h</p>
            <p id="score_message"></p>
            <canvas id="minimapc"></canvas>
        </div>

        <canvas id="mainc"></canvas>
    </div>
</body>

<script src="libs/seedrandom.min.js"></script>
<script src="libs/three.min.js"></script>
<script src="libs/stats.min.js"></script>
<script src="libs/ammo.js"></script>
<script src="libs/socket.io.js"></script>
<script src="ragen.js"></script>
</html>