html, body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: rgba(220,220,220,0.7);
    padding: 5%;
}

#mainc {
    width: 100%;
    height: 100%;
    display: block;
}


#speed {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 0;
    color: white;
    background-color: red;
    z-index: 1;
}

#score_message {
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    text-align: center;
}

#minimapc {
    width: 30vw;
    min-width: 300px;
    height: 15vw;
    min-height: 150px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

#scoreboard {
    position: absolute;
    background-color: rgba(220,220,220,0.7);
    z-index: 2;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
}

.scoreboard-data {
    padding: 2px;
    width: max-content;
}

th, td {
    min-width: 5em;
}

table, th, td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

#menu_button {
    position: absolute;
    right: 0;
    z-index: 3;
    background-color: lightgrey;
}

#centered_msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    padding: 5%;
}

#redalert {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

#scoreboard_min {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgba(220,220,220,0.7);
    z-index: 2;
    padding: 3px;
    width: max-content;
    max-width: 100%;
    overflow: auto;
}

#leaderboard_min {
    margin: 0px;
    margin-right: 3px;
    min-width: 10em;
    text-align: center;
}

#session_info_min {
    margin: 0px;
    width: 100%;
    text-align: center;
}